<h3>Add your list</h3>

<%= simple_form_for @list do |f| %>
  <%= f.input  :name %>
  <%= f.submit "Add list", class: "btn btn-primary" %>
<% end %>

<p><%= link_to "Back to the lists", lists_path %></p>
